In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_json('signalmedia-1m.jsonl', lines=True)

In [3]:
df.head()

,id,content,title,media-type,source,published
0,f7ca322d-c3e8-40d2-841f-9d7250ac72ca,VETERANS saluted Worcester's first ever breakf...,Worcester breakfast club for veterans gives hu...,News,Redditch Advertiser,2015-09-07T10:16:14Z
1,609772bc-0672-4db5-8516-4c025cfd54ca,New Product Gives Marketers Access to Real Key...,Jumpshot Gives Marketers Renewed Visibility In...,News,Virtualization Conference & Expo,2015-09-17T15:00:00Z
2,1aa9d1b0-e6ba-4a48-ad0c-66552d896aac,Home »\rStyle » The Return Of The Nike Air Max...,The Return Of The Nike Air Max Sensation Has 8...,Blog,Streets Connect,2015-09-22T22:54:37Z
3,719699f9-47be-4bc7-969b-b53a881c95ae,NYMag.com Daily Intelligencer Vulture The Cut ...,This New Dating App Will Ruin Your Internet Game,Blog,The Cut,2015-09-16T23:12:11Z
4,a080f99a-07d9-47d1-8244-26a540017b7a,"KUALA LUMPUR, Sept 15 (MySinchew) -- The Kuala...",Pay up or face legal action: DBKL,News,My Sinchew,2015-09-15T10:17:53Z

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   id          1000000 non-null  object
 1   content     1000000 non-null  object
 2   title       1000000 non-null  object
 3   media-type  1000000 non-null  object
 4   source      1000000 non-null  object
 5   published   1000000 non-null  object
dtypes: object(6)
memory usage: 45.8+ MB

In [5]:
engine = create_engine('sqlite:///articles.db')

In [6]:
df.to_sql(name='articles', con=engine)

1000000

In [8]:
sql_df = pd.read_sql_table(table_name='articles', con='sqlite:///articles.db')

In [9]:
sql_df

,index,id,content,title,media-type,source,published
0,0,f7ca322d-c3e8-40d2-841f-9d7250ac72ca,VETERANS saluted Worcester's first ever breakf...,Worcester breakfast club for veterans gives hu...,News,Redditch Advertiser,2015-09-07T10:16:14Z
1,1,609772bc-0672-4db5-8516-4c025cfd54ca,New Product Gives Marketers Access to Real Key...,Jumpshot Gives Marketers Renewed Visibility In...,News,Virtualization Conference & Expo,2015-09-17T15:00:00Z
2,2,1aa9d1b0-e6ba-4a48-ad0c-66552d896aac,Home »\rStyle » The Return Of The Nike Air Max...,The Return Of The Nike Air Max Sensation Has 8...,Blog,Streets Connect,2015-09-22T22:54:37Z
3,3,719699f9-47be-4bc7-969b-b53a881c95ae,NYMag.com Daily Intelligencer Vulture The Cut ...,This New Dating App Will Ruin Your Internet Game,Blog,The Cut,2015-09-16T23:12:11Z
4,4,a080f99a-07d9-47d1-8244-26a540017b7a,"KUALA LUMPUR, Sept 15 (MySinchew) -- The Kuala...",Pay up or face legal action: DBKL,News,My Sinchew,2015-09-15T10:17:53Z
...,...,...,...,...,...,...,...
999995,999995,ad1dfe61-164b-4fd8-8ef3-38d676f41831,"By Ryan Mayer, CBS Local Sports\n\nWeek 1 of t...","Thursday Night Football Q&A: Tiki Barber ""Peyt...",Blog,CBS Baltimore,2015-09-17T17:28:13Z
999996,999996,383864ab-4880-46d0-8625-44ab43f489bc,© \r\n Android Pay\r \nGoogle has made its mo...,Google takes on Apple with Android Pay,News,Malaysia MSN,2015-09-11T00:15:15Z
999997,999997,36c044d8-4522-4a28-a92c-a8e994742188,"For some time now, I've noticed that one of my...",Movie of the Week: Black Mass,Blog,Jarred at the movies,2015-09-14T13:29:49Z
999998,999998,374ff291-51c3-453e-ab06-c18dd2d880a0,The article below represents a preview only an...,C'garh decked for Modi's visit,News,HT Syndication,2015-09-10T21:01:53Z
999999,999999,c463033c-21a8-4085-ba81-f894ab0ddf5d,Environment groups urge new Prime Minister Mal...,Green groups urge Malcolm Turnbull to drop Ton...,News,Wauchope Gazette,2015-09-20T06:03:08Z